{% extends 'painel/painel.html.twig' %}

{% block content %}
<div class="container">
{# Title #}
    <div class="row" id="title">
        <h1>Configurações</h1>
    </div>
    {# Itens #}
    <div class="card" style="background-color:rgb(240,240,240); margin-top:20px;">
        <div class="card-body">
            <div class="row">
                <h4 style="margin-left: 50px;">Atualizar Dados</h4>
            </div>
            <div class="row">
                <div class="col-lg-4"></div>
                <div class="col-lg-4 text-center">
                    <button type="button" class="btn btn-green" data-toggle="modal" data-target="#editDados">
                        Atualizar dados
                    </button>
                    {% include "painel/contents/config/modals/atualizar.html.twig" %}
                </div>
                <div class="col-lg-4"></div>
            </div>
        </div>
    </div>
    <div class="card" style="background-color:rgb(240,240,240); margin-top:20px;">
        <div class="card-body">
            <div class="row">
                <h4 style="margin-left: 50px;">Controle de Mensagens</h4>
            </div>
            <div class="row">
                <div class="col-lg-4"></div>
                <div class="col-lg-4 text-center">
                    <button type="button" class="btn btn-blue" data-toggle="modal" data-target="#msnConfig">
                        Editar controle de mensagens
                    </button>
                    {% include "painel/contents/config/modals/msnconfig.html.twig" %}
                </div>
                <div class="col-lg-4"></div>
            </div>
        </div>
    </div>
    <div class="card" style="background-color:rgb(240,240,240); margin-top:20px;">
        <div class="card-body">
            <div class="row">
                <h4 style="margin-left: 50px;">Redefinir Senha</h4>
            </div>
            <div class="row">
                <div class="col-lg-4"></div>
                <div class="col-lg-4 text-center">
                    <button type="button" class="btn btn-blue" data-toggle="modal" data-target="#redefinirSenha">
                        Redefinir senha
                    </button>
                    {% include "painel/contents/config/modals/redefinir.html.twig" %}
                </div>
                <div class="col-lg-4"></div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
