<h1>Infinity Aion - Registration</h1>

<p>
    Clique no link abaixo para validar sua conta: <br><br>
    <a href="{{ signedUrl|raw }}">Validar</a>.
    O link expira em {{ expiresAt|date('g') }} hora(s).
</p>

<p>
    Equipe Infinity Aion!
</p>
