<h1>Infinity Aion - Reset Password</h1>

<p>
    Para resetar a senha clique  
    <a href="{{ url('app_reset_password', {token: resetToken.token}) }}"> Aqui</a>.
    O link expira em {{ tokenLifetime|date('g') }} hora(s)..
</p>

<p>
    Equipe Infinity Aion!
</p>