{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
<div id="bloco" class="text-center" style="background: url('build/img/login.jpg') top center no-repeat; background-size:cover;">
    <div style="background: url('build/img/border1.png') top center no-repeat; background-size:cover; width:500px; height:500px;">
        <div class="reg" style="margin-top:40px;">
            
            <h1 style="color: lightgray; text-shadow: 0px 0px 10px lightgray;">Reset your password</h1>

            {{ form_start(requestForm) }}
                <span style="color: lightgray;">Email</span>
                {{ form_widget(requestForm.email) }}
                <div>
                    <small style="color: red;">
                        Enter your email address and we we will send you a
                        link to reset your password.
                    </small>
                </div>

                <button class="btn btn-sm btn-warning">Send email</button>
            {{ form_end(requestForm) }}
        </div>
        {% for flashError in app.flashes('reset_password_error') %}
            <div class="alert alert-danger" role="alert">{{ flashError }}</div>
        {% endfor %}
    <div>
</div>
{% endblock %}