{# The Modal #}
<div class="modal fade" id="coin-30">
  <div class="modal-dialog">
    <div class="modal-content">

      {# Modal Header #}
      <div class="modal-header">
        <h4 class="modal-title">3000 Infinity Coins</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      {# Modal body #}
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-12">
            <img src="{{ asset('build/img/3000IC.png') }}" style="width: 400px;">
            <div class="row text-left" style="margin-left: 10px; margin-top:10px;">
              <strong style="font-size: 14px;">Li e aceito os Termos de Uso.</strong>
            </div>
            <div class="row text-left" style="margin-left: 10px;">
              <strong style="font-size: 14px;">Entendo que essa transação se caracteriza como uma doação.</strong>
            </div>
            <div class="row text-left" style="margin-left: 10px;">
              <span style="font-size: 14px; color: red;">Para concluir a compra habilite a visualização de pop-ups.</span>
            </div>
          </div>
        </div>
      </div>

      {# Modal footer #}
      <div class="modal-footer">
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
          <input type="hidden" name="cmd" value="_s-xclick">
          <input type="hidden" name="hosted_button_id" value="8V69FZKZJDGBU">
          <table style="display:none;">
          <tr><td><input type="hidden" name="on0" value="email">email</td></tr><tr><td><input type="text" name="os0" maxlength="200" value="{{status_email}}"></td></tr>
          </table>
          <input class="coin-submit" data-coin="30" type="image" src="https://www.paypalobjects.com/pt_BR/i/btn/btn_buynow_LG.gif" border="0" name="submit" alt="PayPal - A maneira fácil e segura de enviar pagamentos online!">
          <img alt="" border="0" src="https://www.paypalobjects.com/pt_BR/i/scr/pixel.gif" width="1" height="1">
        </form>
      </div>
    </div>
  </div>
</div>