{# The Modal #}
<div class="modal fade" id="editFeed">
  <div class="modal-dialog">
    <div class="modal-content">

      {# Modal Header #}
      <div class="modal-header">
        <h4 class="modal-title">Editar Post</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      {# Modal body #}
      <div class="modal-body">
        <form name="formshop" action="{{ path('feed_edit') }}">
          <input name="id" type="hidden" value="">
          <input name="direct" type="hidden" value="">
          <div class="form-group" id="postfeed">
            <label for="postfeed">Editar Mensagem:</label>
            <textarea class="form-control" rows="4" id="comment" name="comment"></textarea>
          </div>
      </div>

      {# Modal footer #}
      <div class="modal-footer">
        <input type="submit" class="btn btn-blue" value="Editar">
        <button type="button" class="btn btn-red" data-dismiss="modal">Fechar</button>
      </div>
      </form>
    </div>
  </div>
</div>