{# The Modal #}
<div class="modal fade" id="promoItem">
  <div class="modal-dialog">
    <div class="modal-content">

      {# Modal Header #}
      <div class="modal-header">
        <h4 class="modal-title">Excluir Item</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      {# Modal body #}
      <div class="modal-body">
        <form name="form-delete-item" action="{{ path('promo_item') }}">
        <input name="id" type="hidden" value="">
        <div class="row">
          <div class="col-lg-12 text-left">
            <h5>Deseja incluir o item para promoção?</h5>
          </div>
        </div>
      </div>

      {# Modal footer #}
      <div class="modal-footer">
        <input type="submit" class="btn btn-info" value="Promover">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
      </form>
    </div>
  </div>
</div>