{# The Modal #}
<div class="modal fade" id="notifyReport">
  <div class="modal-dialog">
    <div class="modal-content">

      {# Modal Header #}
      <div class="modal-header">
        <h4 class="modal-title">Notificar player</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      {# Modal body #}
      <div class="modal-body">
        <form name="formnotify" action="">
          <input type="hidden" name="pid" value="">
          <input type="hidden" name="id" value="">
          <h5>Deseja notificar o player?</h5>
      </div>

      {# Modal footer #}
      <div class="modal-footer">
        <input type="submit" class="btn btn-info" value="Reportar">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
      </form>
    </div>
  </div>
</div>