
*{
    margin: 0;
    padding: 0;
}

#bloco {
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
}

.reg form {
    padding: 50px;
    padding-left: 170px;
    padding-right: 150px;
}

.reg form input {
    margin-top: 5px;
}

.reg form label {
    color: lightgray;
    margin-top: 5px;
}

.log form {
    padding-top: 100px;
    padding-left: 100px;
    padding-right: 100px;
}

.log form input {
    margin-top: 10px;
    background-color: rgba(255,255,255,.75);
    border: none;
}

.log form label {
    color: lightgray;
    margin-top: 5px;
}