{# The Modal #}
<div class="modal fade" id="itemPresente">
  <div class="modal-dialog">
    <div class="modal-content">

      {# Modal Header #}
      <div class="modal-header">
        <h4 class="modal-title">Presentear</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      {# Modal body #}
      <div class="modal-body">
        <form name="formshop" action="{{ path('shop_gift') }}">
          <input name="id_gift" type="hidden" value="">
          <div class="form-group">
            <label for="sel1">Selecione o Char:</label>
            <select class="form-control" id="selgift" name="selgift">
            {% for item in chars %}
              <option value="{{ item.id }}|{{ item.name }}">{{item.name}}</option>
            {% endfor %}
            </select>
          </div>
      </div>

      {# Modal footer #}
      <div class="modal-footer">
        <input type="submit" class="btn btn-blue" value="Presentear">
        <button type="button" class="btn btn-red" data-dismiss="modal">Fechar</button>
      </div>
      </form>
    </div>
  </div>
</div>